// START: Blog overview blocks
.blog-preview{
	.blog-item-link{
		.displayflex;
	}

	.blog-preview-title{
		margin-bottom: 0;
	}

	.image-wrapper {
		min-width: 100%/3;
		margin: 0 @spacing @spacing 0;

		&.image-2-3{
			padding-top:20%;
			overflow: hidden;
		}
	}

	.readmore{
		margin-bottom:0;
	}

	h3 {
		margin-bottom: 0;
		color: @primColor;
	}

	p {
		color: @grey;
		margin-bottom: @spacing/2;
	}
}

.most-populair-blogs-wrapper{
	margin-bottom: 0;
}

.most-populair-blogs-item{
	.blog-item-link{
		.displayflex;
		color:@textColor;
	}

	.image-wrapper {
		min-width: 100%/3;
		margin: 0 @spacing @spacing 0;

		&.image-2-3{
			padding-top:20%;
			overflow: hidden;
		}
	}
}
// END: Blog overview blocks