// Make Google maps responsive
#google-maps {
}

.google-maps-large{
	height: @spacing*20;
}

.infowindow-wrapper{
	.displayflex;
	.flex-wrap(wrap);
	width: 100%;

	.text-wrapper{
		width: 50%;
		padding: 0 @spacing/2;
	}

	.image-wrapper{
		width: 50%;
		margin-bottom: 0;
		position: relative;
	}
}