.page-mainmenu {
    .level-1-item {

        &:not(:first-child) {
            margin-left: @spacing*1.5;
        }

        > a {
            .displayflex;
            .align-items(center);
            height: @headerHeight;
            padding-top: @spacing;
            color:@textColor;
            font-size: @smallerHeadingSize;
            font-weight: 600;

            &:before{
                .center;
                top:@spacing*1.5;
                font-size: 20px;
            }

            &:hover,
            &:focus{
                span{
                   color:@primColor;                
                }
            }

            @media @navBreakPoint {
                height: @responsiveHeaderHeight;
            }
        }

        // active menu item
        &.active > a {
        }

        // open subnavigation
        &.hover,
        &:hover,
        &:focus {
            .level-2 {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    // arrow to show subnav
    .subnav > a:after {
        content: '▾';
        padding-left: @spacing/4;
    }

    .level-2 {
        opacity: 0;
        width: 240px;
        min-width: 100%; // makes it have the width of it's parent item
        visibility: hidden;
    }

    .level-2-item > a {
        padding: 0 @spacing/2;
    }
}