.page-submenu {
	// Custom submenu styling here
	padding-top:@spacing;

	.submenu-item{
		padding:@spacing/2 0;
		color:@white;
		position: relative;
		font-size:@XSmallHeadingSize;
		text-align: center;

		&:before{
			display: block;
			width: 100%;
			font-size: 40px;
			padding-bottom:4px;
		}

		&:hover,
		&:focus{
			background:rgba(0,0,0,0.08);
		}
	}

	li{
		border-bottom: 1px solid rgba(0,0,0,0.06);
		&:last-child{
			border-bottom: none;
		}
	}

	.active{
		color:@primColor;
		background:@lightGrey;
	}

	// Correspondents with the breakpoint in project/framework.less when the left sidebar is set to 100% width
	@media @bp-MobileL {
		display: none;
	}
}