.userproducts-item{
	position: relative;
	color:@white;
	padding-left:@spacing;
	padding-bottom:@spacing/2;
	font-size:@smallestHeadingSize;
	display: block;
	width: 100%;

	&:hover,
	&:focus{
		color:@white;
		text-decoration: underline;
	}

	&:before{
		.centerY;
		left:0;
		top:8px;
	}
}