.userproducts-item{
	position: relative;
	color:@grey;
	padding-left:@spacing;
	padding-bottom:@spacing/3;
	font-size:@smallestHeadingSize;
	display: block;
	width: 100%;

	&:hover,
	&:focus{
		color:@primColor;
		text-decoration: underline;
	}

	&:before{
		.centerY;
		left:0;
		top:8px;
	}
}

.userproducts-items{
	margin-bottom: @spacing/1.75;
	padding:0 @spacing/2;
}

.page-userproducts{
	margin-right: -@spacing/2;
	margin-left: -@spacing/2;
	

	h2{
		text-align: left;
	}

	p{
		font-size: @smallestHeadingSize;
		text-align: center;
	}
}